@import url("./a11yreset.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bebas Kai";
  src: url("/fonts/BebasKai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Public Sans";
  src: url("/fonts/PublicSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: bold;
  font-display: block;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("/fonts/MabryPro-Medium.ttf") format("truetype");
  font-weight: medium;
  font-style: medium;
  font-display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.mabry {
  font-family: "Mabry Pro";
} 

.bebas {
  font-family: "Bebas Kai";
}

